mta_archives/

# auto generated wildcard
db/.env
# auto generated wildcard
REPORTING/db/.env
# auto generated wildcard
FLATFILE/db/.env
# auto generated wildcard
MSSQL/db/.env
# auto generated wildcard
RUMPKEADM/db/.env
# auto generated wildcard
S4HANA/db/.env
# auto generated wildcard
ULTIPRO/db/.env
# auto generated wildcard
WR1/db/.env
# auto generated wildcard
hdi-data-mssql/MSSQL/db/.env
# auto generated wildcard
hdi-data-flatfile/FLATFILE/db/.env
# auto generated wildcard
hdi-data-rumpkeadm/RUMPKEADM/db/.env
# auto generated wildcard
hdi-reporting/REPORTING/db/.env
# auto generated wildcard
hdi-data-ultipro/ULTIPRO/db/.env
# auto generated wildcard
hdi-data-s4hana/S4HANA/db/.env
# auto generated wildcard
hdi-data-wr1/WR1/db/.env